extends ../layout

block content
    .col-lg-9
      .board
        .pub-main.lz-board
            .single-pub.clearfix
                .avatar
                    |<img alt="" src="http://1.gravatar.com/avatar/f5116a397eaf2c11148ecd181c6512b5?s=50&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D50&amp;r=G" class="avatar avatar-50 photo" height="50" width="50">
                h4.title Candy 极简化论坛的新尝试
                .author
                    span.name byron
                    span.cat
                        i.icon-chevron-right
                        |<a href="http://handybbs.com/category/uncategorized/" title="查看 杂思闲谈 中的全部文章" rel="category tag">Candy</a>
                    i.icon-time
                    | 2013/07/19
                .desc
                    p 这是创业史上最美好的时期，改变世界从未如此简单：一个好的idea，三两个靠谱的兄弟，四五个月的鏖战，一个APP说不定就征服了世界；这是创业史上最艰难的时期，成本的降低让APP呈现爆炸趋势，可用户的时间和注意力有限。如何在众多APP中脱颖而出？
        .board-meta
            span.views
                i.icon-eye-open
                | 29816 浏览
            span.num
                i.icon-comment
                | 128 跟帖
            span.add-com-btn
                i.icon-share-alt
                | 128 分享
        .comment-board
            include ../comment.jade