extends ../layout

block title
    | 添加话题

block banner
  .banner.clearfix
        .inner.clearfix.container
           .row
              .col-lg-12
                  h2.title 
                      - if (board)
                        i.icon-plus-sign
                        | 在 「#{board.name}」 新建话题
                      - else
                        | 呃。。。管理员还没有创建任何讨论节点

block content
  - if (board)
    #thread(ng-controller="candy.ctrlers.thread.new").thread
        #new.fn-clear
            form(name="createThread").form-horizontal
              .form-group
                label.col-lg-1.control-label 标题
                .col-lg-11
                    input(type="text",ng-model="thread.name").form-control
              .form-group
                label.col-lg-1.control-label 内容
                .col-lg-11.editor
                    textarea.form-control
              input(type="hidden",ng-model="thread.board",ng-init="thread.board='#{board._id}'")
              input(type="hidden",ng-model="thread.lz",ng-init="thread.lz='#{user._id}'")
              .form-group
                .col-lg-offset-1.col-lg-11
                  a(href="javascript:void(0);",ng-click="create()").btn.btn-success
                    i.icon-ok 
                    | 写好了

block js
  - if (board)
    //- editor
    link(href="/stylesheets/editor/editor.css",rel="stylesheet")
    script(src="/javascripts/lib/editor.js")
    script(src="/javascripts/thread.js")