extends layout

block content
     .not-found.clearfix
        h3 500 
            - if (msg)
                span.msg #{msg}
            - else 
                span 啊哦，服务器或者数据库出问题了，麻烦联络管理员解决。
        - if (error)
            p.error-detail #{error.toString()}

block sidebar 
    include signin
    include widgets/search