extends layout

block content
   .col-lg-9
     .main-board.board.index-board
        - each board in boards
            .single-board.clearfix
                .col-lg-3
                  .brief
                    h3.name 
                        a(href="/board/#{board.url}") #{board.title}
                        span.meta
                            i.icon-star.first
                            |345
                            i.icon-user
                            |345
                            i.icon-comment
                            |345
                    .desc #{board.desc}
                .col-lg-9
                  ul.threads.clearfix
                    - each thread,i in board.threads
                     - if (i <= 5)
                        li.clearfix.thread-title #{thread.title}
                            img.avatar.fn-left(src="/demo.png")
                            .meta.fn-right
                                span.views
                                    i.icon-eye-open
                                    | 123
                                span.comments
                                    i.icon-comments
                                    | 123