extends layout

//- block banner
//-    .banner.clearfix
//-         .inner.clearfix.container
//-            .row
//-                 .col-lg-9
//-                     h2.title 唾手即得，只若初见。
//-                     .desc 为你的博客提供社会化论坛体验，从未如此简单。
//-                 .col-lg-3
//-                     .dl-links

block content
   .col-lg-9
     .main-board.board.index-board
        - each board in boards
            .single-board.clearfix
                .col-lg-3
                  .brief
                    h3.name 
                        a(href="/board/#{board.url}") #{board.title}
                        span.meta
                            i.icon-star.first
                            |345
                            i.icon-user
                            |345
                            i.icon-comment
                            |345
                    .desc #{board.desc}
                .col-lg-9
                  ul.threads.clearfix
                    - each thread,i in board.threads
                     - if (i <= 5)
                        li.clearfix.thread-title #{thread.title}
                            img.avatar.fn-left(src="/demo.png")
                            .meta.fn-right
                                span.views
                                    i.icon-eye-open
                                    | 123
                                span.comments
                                    i.icon-comments
                                    | 123