#recent.mime-block
    h3.title 最近发布的主题
        .pub-list.clearfix
            - if (member.threads.length > 0)
                - each thread in member.threads
                    .single-pub
                        h4.title.clearfix
                            a(href="/thread/#{thread.id}") 
                                i.icon-chevron-right
                                |#{thread.name}
                                span.author
                                    i.icon-time
                                    != moment(thread.pubdate).fromNow()
            - else 
                h4.no
                    i.icon-ban-circle
                    | #{member.nickname ? member.nickname: member.duoshuo.user_id} 还没有发布任何话题