extends layout

block banner
    .banner.clearfix
        .inner.clearfix.container
           .row
                .col-lg-12
                    h2.title 请先登录 #{site.name}

block content
    .ds-login.clearfix

block sidebar 
    include widgets/search