/* colors */
.threads {
  background-color: #fff;
}
.threads .thread {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
}
.threads .thread .avatar {
  float: left;
  margin: 5px 15px 5px 0px;
  width: 45px;
  height: 45px;
}
.threads .thread .avatar img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  width: 100%;
}
.threads .thread h4.title {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
  line-height: 1.4;
  margin-top: 3px;
}
.threads .thread h4.title a {
  color: #444;
}
.threads .thread h4.title a:hover {
  color: #999;
}
.threads .thread .meta {
  color: #999;
  font-size: 12px;
  padding-left: 60px;
}
.threads .thread .meta a {
  color: #999;
}
.threads .thread .meta span {
  padding: 2px 5px 3px;
  margin-right: 10px;
  background-color: #efefef;
  color: #999;
}
.threads .thread .meta .edit {
  background-color: #efefef;
  padding: 2px 8px;
  margin-left: 10px;
}
.threads .thread .meta .edit:hover {
  background-color: #444;
  color: #fff;
}
.threads .thread .meta .name {
  padding-right: 10px;
  background-color: #95A5A6;
}
.threads .thread .meta .name a {
  color: #fff;
}
.threads .thread .meta .cat {
  margin-left: -15px;
  background-color: #efefef;
  color: #999;
}
.threads .thread .meta .cat i {
  padding-right: 4px;
}
.threads .thread .comments-count {
  margin-top: 8px;
  color: #444;
  padding: 12px 12px;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
}
.threads .thread .comments-count i {
  color: #999;
  padding-right: 8px;
}
.threads .thread .comments-count a {
  color: #999;
  border-radius: 4px;
}
.single-thread .contents {
  border-left: 1px solid #ddd;
  padding-left: 20px;
}
.single-thread .thread {
  color: #444;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 1px;
  background: #ffffff url('/images/b.png') repeat-x left bottom;
}
.single-thread .thread .avatar {
  float: left;
  margin: 0px 15px 5px 0px;
  width: 50px;
  height: 50px;
}
.single-thread .thread .avatar img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  width: 100%;
}
.single-thread .thread h1 {
  font-size: 24px;
}
.single-thread .thread h2 {
  font-size: 20px;
}
.single-thread .thread h3 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.single-thread .thread h4,
.single-thread .thread h5 {
  color: #444;
  font-size: 16px;
}
.single-thread .thread img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.single-thread .thread code {
  font-size: 12px;
}
.single-thread .thread p {
  line-height: 1.8;
}
.single-thread .thread ol {
  padding-left: 20px;
}
.single-thread .thread pre {
  margin: 10px 0 14px;
}
.single-thread .thread table {
  border: 1px solid #ddd;
  box-shadow: 0px 0px 1px #ddd;
}
.single-thread .thread table th {
  background-color: #f5f5f5;
  padding: 3px 8px;
}
.single-thread .thread table td {
  padding: 5px 8px;
  border-bottom: 1px dashed #ddd;
}
.single-thread .thread h4.title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 8px;
  line-height: 1.5;
  margin-top: 0px;
}
.single-thread .thread h4.title a {
  color: #444;
}
.single-thread .thread h4.title a:hover {
  color: #999;
}
.single-thread .thread .meta {
  color: #999;
  font-size: 12px;
}
.single-thread .thread .meta a {
  color: #999;
}
.single-thread .thread .meta span {
  padding: 2px 5px 3px;
  margin-right: 10px;
  background-color: #efefef;
  color: #999;
}
.single-thread .thread .meta .edit {
  background-color: #efefef;
  padding: 2px 8px;
  margin-left: 10px;
}
.single-thread .thread .meta .edit:hover {
  background-color: #444;
  color: #fff;
}
.single-thread .thread .meta .name {
  padding-right: 10px;
  background-color: #95A5A6;
}
.single-thread .thread .meta .name a {
  color: #fff;
}
.single-thread .thread .meta .cat {
  margin-left: -15px;
  background-color: #efefef;
  color: #999;
}
.single-thread .thread .meta .cat i {
  padding-right: 4px;
}
.single-thread .thread .entry {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.8;
}
.board-meta {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  text-shadow: 1px 1px 1px #fff;
}
.board-meta span {
  color: #999;
  padding: 2px 5px;
  text-shadow: 1px 1px 1px #fff;
  margin-right: 10px;
}
.board-meta span a {
  color: #999;
}
.board-meta span a:hover {
  color: #000;
}
.board-meta i {
  color: #999;
  padding-right: 3px;
}
.board-meta a.edit {
  color: #999;
}
.attachements {
  margin-top: 20px;
}
.attachements .attachement {
  border-top: 1px solid #f5f5f5;
  padding: 15px 0px;
}
.attachements .attachement .thumbnail {
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: left;
  margin-right: 8px;
  padding: 2px;
}
.attachements .attachement .thumbnail img {
  width: 30px;
  height: auto;
}
.attachements .attachement a span {
  color: #3498db;
}
.attachements .attachement a:hover {
  text-decoration: underline;
}
.attachements .attachement span {
  font-size: 12px;
  color: #999;
  padding-right: 5px;
}
.attachements .attachement span.name {
  padding-bottom: 0px;
  font-size: 12px;
  display: block;
}
.attachements .attachement .other-files {
  display: block;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  color: #999;
}
